.footer {
    background-color: $color-bg;
    padding-top: 80px;
    font-size: 14px;
    font-weight: 500;

    &__container {
        display: grid;
        grid-template-columns: [first] 30% 1fr 1fr 1fr;
    }
    &__title{
        margin-bottom: 20px;
    }

    &__description{
        margin: 20px 0 32px;
    }

    ul li {
        margin-bottom: 10px;

        &:hover a {
            text-decoration: underline;
        }
    }

    &__list2{
        padding-left: 60px;
    }

    &__list3{
        padding-left: 50px;
    }

    &__list4 {
        > h4{
            display: block;
            text-align: right;
        }
    }

    .soc{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            margin-right: 20px;
            font-size: 30px;
        }
    }

    &__contacts-icon {
        margin-right: 10px;
        font-size: 14px;
    }

    &__copyright {
        text-align: center;
        margin-top: 30px;
        padding: 17px;
        border-top: 1px solid $color-bg1;
    }
}

@media screen and (max-width: 1024px) {
    .footer {

        &__container {
            grid-template-columns: repeat(3, 1fr);
        }

        &__list1 {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
        }

        &__list2{
            padding-left: 0;
        }

        &__list3{
            padding-left: 0;
        }

        &__list4 {
            > h4{
                text-align: unset;
            }
        }

        .soc{
            justify-content: flex-start;
            li {
                margin-right: 20px;
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .footer {
        &__container {
            display: block;
            text-align: center;
        }

        &__list3{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .soc{
            justify-content: center;
        }
    }
}