.works {

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    &__page-item {
        background-color: $color-bg2;
        margin-top: 80px;
    }

    
    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

.work {
    background-color: $color-bg1;
    border: 1px solid transparent;

    &__info {
        padding: 32px;
    }

    &__description {
        margin: 19px 0px 32px;
        font-size: 15px;
    }

    &__image {
        overflow: hidden;
        height: 189px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__btn{
        display: block;
        text-align: center;
    }

}

@media screen and (max-width: 1024px) {
    .works {
        margin-top: 0;

        &__container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 640px) {
    .works {

        &__container {
            grid-template-columns: 1fr;
        }
    }
}