* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $color-bg;
    color: $white;
}

.container{
    width: $container-width-lg;
    margin: 0 auto;
}

section {
    padding: 96px 0px;
}

section h2 {
    text-align: center;
    margin-bottom: 64px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

a {
    color: $white;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: $white;
    color: $black;
    padding: 16px 32px;
    border: 1px solid transparent;
    font-weight: 500;
    cursor: pointer;
    transition: $transition-400ms;

    &:hover {
        background-color: transparent;
        color: $white;
        border-color: $white;
    }
}
.btn-primary {
    background-color: $danger;
    color: $white;
}


@media screen and (max-width: 1024px) {
    .container {
        width: $container-width-md;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 19px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: $container-width-sm;
    }
}
