//! Color
$primary: #6c63ff;
$success: #00bf8e;
$warning: #f7c94b;
$danger: #f75842;
$danger-variant: rgba(247, 88, 66, 0.4);
$white: #fff;
$light: rgba(255, 255, 255, 0.7);
$black: #000;
$color-bg: #6610f2;
$color-bg1: #2e3267;
$color-bg2: #3b0a8a;

//! Width
$container-width-lg: 76%;
$container-width-md: 90%;
$container-width-sm: 94%;

//! Transition
$transition-400ms: all 400ms ease;


