<!-- Header -->
<header class="header">
    <div class="container header__container">
        <div class="header__left">
            <h1>Рекламная компания Boom Print</h1>
            <p>
                Изготавливаем вывески, баннеры, этикетки, упаковку, листовки, визитки и многое другое
            </p>
            <a class="btn btn-primary" href="works.html">Наша продукция</a>
        </div>
        <div class="header__right">
            <div class="header__right-image">
                <img src="@img/header.svg" alt="">
            </div>
        </div>
    </div>
</header>
