<!-- Navigation -->
<nav class="nav">
    <div class="container nav__container">
        <a href="index.html">
            <h3>Boom Print</h3>
        </a>
        <ul class="nav__menu">
            <li class="nav__link"><a class="nav__item" href="index.html">Главная</a></li>
            <li class="nav__link"><a class="nav__item" href="about.html">О нас</a></li>
            <li class="nav__link"><a class="nav__item" href="works.html">Продукция</a></li>
            <li class="nav__link"><a class="nav__item" href="contact.html">Контакты</a></li>
        </ul>
        <button class="nav__button" id="open-menu-btn">
            <i class="uil uil-bars"></i>
        </button>
        <button class="nav__button" id="close-menu-btn">
            <i class="uil uil-multiply"></i>
        </button>
    </div>
</nav>