<section class="about">
    <div class="container about__container">
        <div class="about__left">
            <img src="@img/about achievements.svg" alt="">
        </div>
        <div class="about__right">
            <h1 class="about__title">Типография Boom Print</h1>
            <p class="about__description">
                Наша компания успешно работает с клиентами по всему миру и имеет офисы в России, Чехии, Венгрии, Польше и США.
                Клиенты полюбили нас за надежность и сроки выполнения работ.
                Мы понимаем, какую ценность в современном мире играет время и всегда оправдываем доверие клиента.
            </p>
            <div class="about__cards">
                <article class="about__card">
                    <span class="about__achievement-icon">
                        <i class="uil uil-video"></i>
                    </span>
                    <h3 class="about__achievement-count">
                        450+
                    </h3>
                    <p>Заказов</p>
                </article>
                <article class="about__card">
                    <span class="about__achievement-icon">
                        <i class="uil uil-users-alt"></i>
                    </span>
                    <h3 class="about__achievement-count">
                        200+
                    </h3>
                    <p>Клиентов</p>
                </article>
                <article class="about__card">
                    <span class="about__achievement-icon">
                        <i class="uil uil-invoice"></i>
                    </span>
                    <h3 class="about__achievement-count">
                        10+
                    </h3>
                    <p>Опыта</p>
                </article>
            </div>
        </div>
    </div>
</section>