<section class="categories">
    <div class="container categories__container">
        <div class="categories__left">
            <h4 class="categories__title">Каталог услуг</h4>
            <p class="categories__description">
                Типография Boom Print предлагает комплексные услуги по изготовлению всех видов 
                полиграфической продукции, включая, разумеется, услуги печати. 
                Располагая современным оборудованием и квалифицированным персоналом, 
                типография обеспечивает высокое качество полиграфии и высокую 
                скорость изготовления даже очень больших тиражей.
            </p>
            <a class="btn" href="contact.html">Оставить заявку</a>
        </div>
        <div class="categories__right">
            <article class="category">
                <span class="category__icon">
                    <i class="uil uil-bitcoin-circle"></i>
                </span>
                <h5 class="category__title">Офсетная печать</h5>
                <p class="category__description">Офсетный вид остаётся самым популярным и одновременно классическим.</p>
            </article>
            <article class="category">
                <span class="category__icon">
                    <i class="uil uil-bitcoin-circle"></i>
                </span>
                <h5 class="category__title">Цифровая печать</h5>
                <p class="category__description">Цифровой вид намного оперативнее и быстро решает вопросы</p>
            </article>
            <article class="category">
                <span class="category__icon">
                    <i class="uil uil-bitcoin-circle"></i>
                </span>
                <h5 class="category__title">Дизайн</h5>
                <p class="category__description">Мы предлагаем услуги разработки дизайна, верстки различной рекламной продукции.</p>
            </article>
            <article class="category">
                <span class="category__icon">
                    <i class="uil uil-bitcoin-circle"></i>
                </span>
                <h5 class="category__title">Полиграфия</h5>
                <p class="category__description">Это любой вид продукции используемой для продвижения товаров, услуг или компании.</p>
            </article>
            <article class="category">
                <span class="category__icon">
                    <i class="uil uil-bitcoin-circle"></i>
                </span>
                <h5 class="category__title">Цветная печать</h5>
                <p class="category__description">Большую часть продукции заказчики сегодня предполагают распечатать в цвете.</p>
            </article>
            <article class="category">
                <span class="category__icon">
                    <i class="uil uil-bitcoin-circle"></i>
                </span>
                <h5 class="category__title">Срочная печать</h5>
                <p>Как правило, выполняется с использованием цифровых технологий</p>
            </article>
        </div>
    </div>
</section>