<section class="contact">
    <div class="container contact__container">
        <aside class="contact__aside">
            <div class="contact__image">
                <img src="@img/contact.svg" alt="">
            </div>
            <h2 class="contact__title">Contact US</h2>
            <p class="contact__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint, inventore illum aut amet quidem quibusdam.
            </p>
            <ul class="contact__details">
                <li class="contact__link">
                    <i class="uil uil-phone-times"></i>
                    <h5 class="contact-details-title">+996707266860</h5>
                </li>
                <li class="contact__link">
                    <i class="uil uil-envelope-alt"></i>
                    <h5 class="contact-details-title">adante@mail.ru</h5>
                </li>
                <li class="contact__link">
                    <i class="uil uil-user"></i>
                    <h5 class="contact-details-title">Accra Ghana</h5>
                </li>
            </ul>
            <ul class="contact__social">
                <li>
                    <a href=""><i class="uil uil-facebook-f"></i></a>
                </li>
                <li>
                    <a href=""><i class="uil uil-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="uil uil-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="uil uil-linkedin-alt"></i></a>
                </li>
            </ul>
        </aside>
        <!-- Form section -->
        <form class="contact__form" action="https://formspree.io/f/moqbqlzk" method="POST">
            <div class="contact__form-name">
                <input type="text" name="firstName" placeholder="First Name" required>
                <input type="text" name="lastName" placeholder="Last Name" required>
            </div>
            <input type="email" name="email" placeholder="Email" required>
            <textarea name="message" rows="7" placeholder="Message" required></textarea>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
</section>