<section class="reviews">
    <h2 class="reviews__title">Отзывы клиентов</h2>
    <div class="container reviews__container swiper">
        <div class="swiper-wrapper">
            <article class="review swiper-slide">
                <div class="avatar">
                    <img src="@img/avatar5.jpg" alt="">
                </div>
                <div class="review__info">
                    <h5 class="review__user">Виктория Климова</h5>
                </div>
                <div class="review__body">
                    <p class="review__description">
                        Всегда довольна работой этой типографии. Быстро, очень качественно, профессионально, с заботой о клиенте! Хочется отметить работу менеджера Алевтины, которая в последний раз очень сильно помогла мне с макетом лифлетов!
                    </p>
                </div>
            </article>
            <article class="review swiper-slide">
                <div class="avatar">
                    <img src="@img/avatar4.jpg" alt="">
                </div>
                <div class="review__info">
                    <h5 class="review__user">Камила Зарова</h5>
                </div>
                <div class="review__body">
                    <p class="review__description">
                        Впервые воспользовалась услугами это мастерской (портреты на пенокартоне). Была приятно поражена скоростью ответов менеджеров по почте и подробными консультациями. В субботу приехала в офис на белорусской
                    </p>
                </div>
            </article>
            <article class="review swiper-slide">
                <div class="avatar">
                    <img src="@img/avatar1.jpg" alt="">
                </div>
                <div class="review__info">
                    <h5 class="review__user">Бухаров Руслан</h5>
                </div>
                <div class="review__body">
                    <p class="review__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus impedit eveniet, 
                        fficiis labore sint repellat dolores totam temporibus 
                        voluptatem ab illum veniam soluta nulla quae. Sequi, reiciendis. Ad, excepturi.
                    </p>
                </div>
            </article>
            <article class="review swiper-slide">
                <div class="avatar">
                    <img src="@img/avatar1.jpg" alt="">
                </div>
                <div class="review__info">
                    <h5 class="review__user">Бухаров Руслан</h5>
                </div>
                <div class="review__body">
                    <p class="review__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus impedit eveniet, 
                        fficiis labore sint repellat dolores totam temporibus 
                        voluptatem ab illum veniam soluta nulla quae. Sequi, reiciendis. Ad, excepturi.
                    </p>
                </div>
            </article>
            <article class="review swiper-slide">
                <div class="avatar">
                    <img src="@img/avatar1.jpg" alt="">
                </div>
                <div class="review__info">
                    <h5 class="review__user">Бухаров Руслан</h5>
                </div>
                <div class="review__body">
                    <p class="review__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus impedit eveniet, 
                        fficiis labore sint repellat dolores totam temporibus 
                        voluptatem ab illum veniam soluta nulla quae. Sequi, reiciendis. Ad, excepturi.
                    </p>
                </div>
            </article>
            <article class="review swiper-slide">
                <div class="avatar">
                    <img src="@img/avatar1.jpg" alt="">
                </div>
                <div class="review__info">
                    <h5 class="review__user">Бухаров Руслан</h5>
                </div>
                <div class="review__body">
                    <p class="review__description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus impedit eveniet, 
                        fficiis labore sint repellat dolores totam temporibus 
                        voluptatem ab illum veniam soluta nulla quae. Sequi, reiciendis. Ad, excepturi.
                    </p>
                </div>
            </article>
        </div>
    </div>
    <div class="pagination swiper-pagination"></div>
</section>

