<section class="works">
    <h2 class="works__title">Продукция</h2>
    <div class="container works__container">
        <article class="work">
            <div class="work__image">
                <img src="@img/course1.jpg" alt="">
            </div>
            <div class="work__info">
                <h4 class="work__title">Визитки</h4>
                <p class="work__description">
                    Мы изготовим для вас лучшие визитки, а также всю необходимую сопутствующую печатную и рекламную продукцию для вашей компании. У нас широкий штат специалистов, современные станки и оборудование
                </p>
                
            </div>
        </article>
        <article class="work">
            <div class="work__image">
                <img src="https://cdn.pixabay.com/photo/2016/08/24/16/20/books-1617327_960_720.jpg" alt="">
            </div>
            <div class="work__info">
                <h4 class="work__title">Книги</h4>
                <p class="work__description">
                    Наша компания предлагает оперативное и качественное создание фотокниг своими руками. Вас ждет профессиональная печать фотокниги онлайн различной направленности по доступной цене!
                </p>
            </div>
        </article>
        <article class="work">
            <div class="work__image">
                <img src="https://cdn.pixabay.com/photo/2017/11/06/08/47/agenda-2923057_960_720.jpg" alt="">
            </div>
            <div class="work__info">
                <h4 class="work__title">Календари</h4>
                <p class="work__description">
                    Изготовление календарей любого типа и формата - дело сугубо практичное: ведь удобная календарная сетка с прекрасно читающимися цифрами непременно приживется в офисе   
                </p>
            </div>
        </article>
    </div>
    <div class="works__footer">
        <a class="btn btn-primary work__btn" href="works.html">Посмотреть еще</a>
    </div>
</section>